<div class="credential-container flex-column" [formGroup]="authForm">
    <mat-form-field class="auth-input">
        <mat-label>{{ 'USERNAME' | translate }}</mat-label>
        <input #usernameInput formControlName="username" matInput name="username" type="text" maxlength="20" autocomplete="username" />
        <mat-error *ngIf="authForm.get('username')?.hasError('errorMessage')">{{ authForm.get('username')?.getError('errorMessage') }}</mat-error>
    </mat-form-field>

    <mat-form-field class="auth-input" *ngIf="isRegiserForm">
        <mat-label>{{ 'EMAIL' | translate }}</mat-label>
        <input formControlName="email" matInput placeholder="example@example.com" name="email" type="email" maxlength="50" autocomplete="email" />
        <mat-error *ngIf="authForm.get('email')?.hasError('errorMessage')">{{ authForm.get('email')?.getError('errorMessage') }}</mat-error>
    </mat-form-field>

    <mat-form-field class="auth-input">
        <mat-label>{{ 'PASSWORD' | translate }}</mat-label>
        <input
            formControlName="password"
            matInput
            name="password"
            [type]="showPassword ? 'text' : 'password'"
            maxlength="50"
            (focus)="showOverlay = true"
            (blur)="showOverlay = false"
            (input)="validatePassword()"
            cdkOverlayOrigin
            #trigger="cdkOverlayOrigin"
            [autocomplete]="isRegiserForm ? 'new-password' : 'current-password'"
        />
        <button type="button" mat-icon-button matSuffix (click)="showPassword = !showPassword">
            <mat-icon>{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
        <mat-error *ngIf="authForm.get('password')?.hasError('errorMessage')">{{ authForm.get('password')?.getError('errorMessage') }}</mat-error>
    </mat-form-field>

    <ng-template
        cdkConnectedOverlay
        [cdkConnectedOverlayOrigin]="trigger"
        [cdkConnectedOverlayOpen]="showOverlay"
        [cdkConnectedOverlayOffsetX]="80"
        [cdkConnectedOverlayPositions]="[{ originX: 'end', originY: 'center', overlayX: 'start', overlayY: 'center' }]"
    >
        <div class="password-validator flex-column" *ngIf="isRegiserForm">
            <figure>
                <figcaption>Votre mot de passe doit contenir au moins:</figcaption>
                <ul>
                    <li
                        *ngFor="let requirement of requirements"
                        [ngClass]="{
                            'password-validator__requirement--valid': checkValidation(requirement.name),
                            'password-validator__requirement--invalid': !checkValidation(requirement.name)
                        }"
                        class="password-validator__requirement"
                    >
                        {{ requirement.text }}
                    </li>
                </ul>
            </figure>
        </div>
    </ng-template>
</div>
