* {
    margin: 0;
}

.password-validator {
    width: fit-content;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0;
    padding: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.password-validator__requirement--valid::marker {
    content: '✅';
}

.password-validator__requirement--invalid::marker {
    content: '❌';
}
