.progress-bar {
    width: 1200px;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
    margin-top: 12px;
}

.progress-fill {
    height: 100%;
    border-radius: 10px;
}

.running {
    background-color: #4caf50;
}

.panic-running {
    background-color: red;
}

.stopped {
    background-color: grey;
}
