* {
    margin: 0;
    padding: 0;
}

.avatar-changer__choice {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    object-fit: cover; /* conserve le ratio de l'image */
}

.avatar-changer__avatar-list {
    display: flex;
    justify-content: space-evenly;
    max-width: 15rem;
    overflow-x: auto;
    gap: 3px;
}

.avatar-changer__avatar-item {
    cursor: pointer;
    padding: 4px;

    &:hover {
        background-color: lightgray;
    }
}

.avatar-changer__avatar-image {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
}

.avatar-changer__avatar-item.selected {
    background-color: rgb(185, 185, 185);
}

.avatar-changer__separator {
    margin: 0.5rem 0;
    width: 75%;
    border-color: rgba(black, 0.3);
}

.avatar-changer__upload-button-container {
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.avatar-changer__file-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.avatar-changer__max-file-size {
    font-size: small;
}

.error {
    color: red;
    font-size: small;
    font-weight: bold;
}

.btn-container {
    display: flex;
    gap: 20px;
}

.btn {
    width: 100px;
}
