<div id="container">
    <h1 mat-dialog-title id="title">Administration des jeux</h1>
    <form (ngSubmit)="validatePassword()">
        <div mat-dialog-content>
            <p>Entrez le mot de passe</p>
            <mat-form-field>
                <mat-label>Mot de passe</mat-label>
                <input matInput [formControl]="passwordForm" [type]="hidePassword ? 'password' : 'text'" />
                <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                    <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <mat-error *ngIf="passwordForm.hasError('wrongPassword')">Mot de passe incorrect!</mat-error>
            </mat-form-field>
        </div>
        <div mat-dialog-actions align="center" class="dialog-actions">
            <button type="submit" mat-raised-button color="primary" [disabled]="passwordForm.invalid">Continuer</button>
            <button mat-dialog-close type="button" mat-raised-button>Annuler</button>
        </div>
    </form>
</div>
