<div class="auth-layout">
    <div class="auth-form-container flex-column">
        <app-auth-header [heading]="currentLanguage === 'FR' ? 'Mot de passe oublié?' : 'Forgot your password?'"></app-auth-header>
        <app-reset-request-form
            *ngIf="activeForm === 'resetRequest'"
            [emailForm]="emailForm"
            (formChange)="onFormChange($event)"
        ></app-reset-request-form>
        <app-reset-code-form *ngIf="activeForm === 'code'" [emailForm]="emailForm" (formChange)="onFormChange($event)"></app-reset-code-form>
        <app-new-password-form
            *ngIf="activeForm === 'newPassword'"
            [emailForm]="emailForm"
            (formChange)="onFormChange($event)"
        ></app-new-password-form>

        <div *ngIf="activeForm === 'successfulState'" class="flex-column">
            <p>{{ 'SUCCESSFUL RESET' | translate }}</p>
            <button color="primary" class="auth-btn" mat-raised-button routerLink="/login" type="button">{{ 'SIGN IN' | translate }}</button>
        </div>
    </div>
</div>
