<div id="container">
    <app-header title="Création d'une partie"></app-header>
    <div class="fields">
        <div class="table-container">
            <table *ngIf="!allGamesAreHiddenOrListIsEmpty(); else emptyList">
                <thead>
                    <tr>
                        <th>Liste de jeux</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let game of games; index as i" (click)="selectRow(i)">
                        <td *ngIf="game.isVisible === true" [class.selected-game]="game.id === selectedGame?.id">{{ game.title }}</td>
                    </tr>
                </tbody>
            </table>
            <ng-template #emptyList>
                <div class="empty-list">Aucun jeu n'est disponible pour le moment</div>
            </ng-template>
        </div>
        <div class="game-block">
            <div *ngIf="selectedRowIndex !== null">
                <span>
                    <button class="petit-button" (click)="selectRow(null)">X</button>
                    <span id="underlined">Détails</span>
                </span>
                <div>
                    <div class="description">
                        <div id="underlined">Descriptions du jeu :</div>
                        <br />
                        <div>{{ selectedGame!.description }}</div>
                        <br />
                        <div id="underlined">Temps alloué pour répondre :</div>
                        <br />
                        <div>{{ selectedGame!.duration }} secondes</div>
                    </div>
                    <div class="questions">
                        <table>
                            <thead>
                                <th>Questions</th>
                            </thead>
                            <tbody class="question-list">
                                <tr class="table-question" *ngFor="let question of selectedGame!.questions">
                                    {{
                                        question.text
                                    }}
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div id="game-mode">
                        <button mat-raised-button class="bott" (click)="initializeGame()">
                            <mat-icon>videogame_asset</mat-icon>
                            Créer une partie
                        </button>
                        <button mat-raised-button class="bott" (click)="initializeGame(testing)">
                            <i class="fa-solid fa-flask-vial"></i>
                            Tester le jeu
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
