<header>
    <div>
        <button class="home" color="primary" mat-fab extended [routerLink]="mainMenuRoute">
            <mat-icon>home</mat-icon>
            Menu principal
        </button>
    </div>

    <div class="title">
        <h1>{{ title }}</h1>
    </div>

    <div>
        <button *ngIf="isCurrentPageLobby" class="return" color="primary" mat-fab extended [routerLink]="gameCreationRoute">
            <mat-icon>arrow_back</mat-icon>
            Retourner
        </button>
    </div>
</header>
