<table>
    <thead>
        <tr>
            <th>
                <button (click)="setSortingPropertyAndSort('activityState')">Tri Couleur</button>
            </th>
            <th>
                <button (click)="setSortingPropertyAndSort('name')">Tri Nom</button>
            </th>
            <th>
                <button (click)="setSortingPropertyAndSort('score')">Tri Score</button>
            </th>
            <th>
                <button (click)="toggleSortOrder()">{{ ascendingOrder ? 'Ordre ▲ ' : 'Ordre ▼' }}</button>
            </th>
        </tr>
        <tr>
            <th>Nom du Joueur</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let player of players">
            <tr *ngIf="player.name !== 'Organisateur'">
                <td>
                    <span class="black" *ngIf="player.activityState === 'black'">{{ player.name }}</span>
                    <span *ngIf="player.activityState !== 'black'" [ngClass]="getActivityClass(player)">{{ player.name }}</span>
                </td>
                <td>{{ player.score }}</td>
                <td>
                    <button (click)="toggleMute(player)">
                        <span id="lock-text">{{ player.isAbleToChat ? 'Mute' : 'Unmute' }}</span>
                    </button>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>
