<div class="container">
    <app-header [title]="'Administration des jeux'"></app-header>
    <div class="fields" id="game-table">
        <table>
            <thead>
                <tr>
                    <th>Modifier</th>
                    <th>Exporter</th>
                    <th>Liste de jeux</th>
                    <th>Date de modification</th>
                    <th>Visibilité</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let game of games">
                    <td class="logo-container">
                        <a (click)="modifyGame(game)" [routerLink]="quizCreationRoute">
                            <img src="https://cdn-icons-png.flaticon.com/512/814/814236.png" />
                        </a>
                    </td>
                    <td class="logo-container">
                        <a (click)="exportGame(game.id)">
                            <img src="https://www.freeiconspng.com/thumbs/export-icon/data-export-icon-0.png" />
                        </a>
                    </td>
                    <td class="nom-jeu">
                        <div (click)="deleteGame(game)">
                            <img src="https://www.pngkit.com/png/full/367-3670169_delete-comments-clip-art.png" />
                        </div>
                        <div>{{ game.title }}</div>
                        <div class="description-jeu">{{ game.description }}</div>
                    </td>
                    <td>{{ game.lastModification }}</td>
                    <td class="logo-container">
                        <a (click)="toggleVisibility(game)">
                            <img
                                class="toggle-image"
                                [src]="
                                    game.isVisible
                                        ? 'https://www.freeiconspng.com/thumbs/eye-icon/eyeball-icon-png-eye-icon-1.png'
                                        : 'https://icons.veryicon.com/png/o/photographic/ant-design-official-icon-library/eye-close-1.png'
                                "
                            />
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button mat-raised-button color="primary" class="adminbutton" [routerLink]="quizCreationRoute">
        <mat-icon class="icon-display">add</mat-icon>
        Ajouter un nouveau jeu
    </button>

    <button mat-raised-button (click)="gameImport.click()" color="primary" class="adminbutton">
        <mat-icon class="icon-display">open_in_browser</mat-icon>
        Importer un nouveau jeu
    </button>
    <p class="error-empty" *ngIf="isFileEmpty">Fichier vide!</p>
    <p class="error-format" *ngIf="isFormInvalid">Le fichier JSON n'est pas bien formaté!</p>
    <input #gameImport type="file" accept="application/JSON" (change)="importGame($event)" hidden />

    <button mat-raised-button [routerLink]="historyRoute" color="primary" class="adminbutton" id="historybutton">Historique des parties</button>
</div>
