<form class="new-password-form flex-column" (ngSubmit)="onSubmit()" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
    <p>{{ 'NEW PASSWORD MESSAGE' | translate }}</p>

    <mat-form-field class="auth-input">
        <mat-label>{{ 'NEW PASSWORD' | translate }}</mat-label>
        <input
            #newPasswordInput
            [formControl]="newPasswordForm"
            matInput
            name="password"
            [type]="showPassword ? 'text' : 'password'"
            maxlength="50"
            (focus)="showOverlay = true"
            (blur)="showOverlay = false"
            (input)="validatePassword()"
            cdkOverlayOrigin
            #trigger="cdkOverlayOrigin"
            autocomplete="new-password"
        />
        <button type="button" mat-icon-button matSuffix (click)="showPassword = !showPassword">
            <mat-icon>{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
        <mat-error *ngIf="newPasswordForm.hasError('errorMessage')">{{ newPasswordForm.getError('errorMessage') }}</mat-error>
    </mat-form-field>

    <div class="new-password-form__button-container flex-column">
        <button
            class="auth-btn"
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!isPasswordValid || newPasswordForm.invalid || isLoading"
        >
            {{ 'RESET' | translate }}
        </button>
        <button class="auth-btn" mat-raised-button routerLink="/login" type="button">{{ 'CANCEL' | translate }}</button>
    </div>

    <ng-template
        cdkConnectedOverlay
        [cdkConnectedOverlayOrigin]="trigger"
        [cdkConnectedOverlayOpen]="isLoading"
        [cdkConnectedOverlayOffsetX]="100"
        [cdkConnectedOverlayPositions]="[{ originX: 'end', originY: 'center', overlayX: 'start', overlayY: 'center' }]"
    >
        <app-loader></app-loader>
    </ng-template>

    <ng-template
        cdkConnectedOverlay
        [cdkConnectedOverlayOrigin]="trigger"
        [cdkConnectedOverlayOpen]="showOverlay"
        [cdkConnectedOverlayOffsetX]="80"
        [cdkConnectedOverlayPositions]="[{ originX: 'end', originY: 'center', overlayX: 'start', overlayY: 'center' }]"
    >
        <div class="password-validator flex-column">
            <figure>
                <figcaption>{{ 'PASSWORD REQUIREMENTS' | translate }}</figcaption>
                <ul *ngIf="currentLanguage === 'FR'">
                    <li
                        *ngFor="let requirement of frRequirements"
                        [ngClass]="{
                            'password-validator__requirement--valid': checkValidation(requirement.name),
                            'password-validator__requirement--invalid': !checkValidation(requirement.name)
                        }"
                        class="password-validator__requirement"
                    >
                        {{ requirement.text }}
                    </li>
                </ul>
                <ul *ngIf="currentLanguage === 'EN'">
                    <li
                        *ngFor="let requirement of enRequirements"
                        [ngClass]="{
                            'password-validator__requirement--valid': checkValidation(requirement.name),
                            'password-validator__requirement--invalid': !checkValidation(requirement.name)
                        }"
                        class="password-validator__requirement"
                    >
                        {{ requirement.text }}
                    </li>
                </ul>
            </figure>
        </div>
    </ng-template>
</form>
