<div *ngIf="!isOrganizer">
    <div *ngIf="isCurrentQuestionQcm" class="buttons-parent" (keydown)="playerEntries($event)" #buttonFocus tabindex="0" autofocus>
        <div class="buttons-container">
            <button
                type="button"
                *ngFor="let button of buttons"
                [ngClass]="{
                    'btn-default': !button.selected,
                    'btn-selected': button.selected,
                    'highlight-correct': button.showCorrectButtons,
                    'highlight-wrong': button.showWrongButtons
                }"
                (click)="onButtonClick(button)"
                class="btn"
                [ngClass]="{ 'highlight-correct': button.showCorrectButtons, 'highlight-wrong': button.showWrongButtons }"
            >
                <span id="button-id">{{ button.id }}</span>
                <div id="button-text">{{ button.text }}</div>
            </button>
        </div>
    </div>

    <div *ngIf="!isCurrentQuestionQcm && !isEvaluationPhase" id="qrl-input">
        <mat-form-field id="answer-field">
            <mat-label>Réponse</mat-label>
            <textarea
                #answerInput
                matInput
                (keydown.enter)="answerInput.blur()"
                (input)="markInputActivity()"
                [maxlength]="maxQrlAnswerLength"
                [formControl]="answerForm"
                rows="5"
            >
            </textarea>
        </mat-form-field>
        <p class="answer-length">{{ answerForm.value.length }}/{{ maxQrlAnswerLength }}</p>
    </div>

    <button type="button" class="validate-btn" (click)="submit()" [disabled]="submitted || isAnswerEmpty()">Soumettre</button>
</div>
<div *ngIf="isOrganizer">
    <div *ngIf="!isEvaluationPhase" class="controls-container question-control">
        <button mat-raised-button (click)="startNextQuestionCountdown()" [disabled]="!canLoadNextQuestion">{{ buttonLoadingMessage }}</button>
        <button mat-raised-button (click)="pause()" [disabled]="hasQuestionEnded">
            <i *ngIf="!isGamePaused" class="fa-solid fa-pause fa-2xl"></i>
            <i *ngIf="isGamePaused" class="fa-solid fa-play fa-beat-fade fa-2xl"></i>
            {{ pauseMessage }}
        </button>
        <button mat-raised-button (click)="panic()" [disabled]="!isPanicModeAvailable || isPanicModeEnabled || isGamePaused || hasQuestionEnded">
            <div>
                <i class="fa-solid fa-triangle-exclamation fa-2xl"></i>
                PANIQUER
            </div>
            <div *ngIf="!isPanicModeAvailable" id="panic-availability">Disponible dans {{ remainingCountForPanic }}</div>
        </button>
    </div>

    <div *ngIf="isEvaluationPhase" id="evaluation-container">
        <div id="answer-container">
            <h5>Joueur: {{ currentEvaluatedAnswer.submitter }}</h5>
            <p id="answer">{{ currentEvaluatedAnswer.text }}</p>
            <p class="answer-index">{{ currentAnswerIndex + 1 }}/{{ qrlAnswers.length }}</p>
        </div>
        <div id="grade-container">
            <button
                [ngClass]="{ 'grade-button': true, 'btn-selected': currentEvaluatedAnswer.grade === grade }"
                (click)="evaluateAnswer(grade)"
                *ngFor="let grade of grades"
                mat-raised-button
            >
                {{ grade * 100 }}%
            </button>
        </div>
        <div class="controls-container evaluation-control">
            <button [disabled]="currentAnswerIndex === 0" (click)="getPreviousAnswer()" mat-raised-button>
                <i class="fa-solid fa-backward fa-2xl"></i>
                Réponse précédente
            </button>
            <button
                [disabled]="currentAnswerIndex !== qrlAnswers.length - 1 || currentEvaluatedAnswer.grade === null"
                (click)="endEvaluationPhase()"
                mat-raised-button
            >
                Soumettre les notes
            </button>
        </div>
    </div>
</div>
